# ==============================================================================
# Role: gitea - Handlers
# ==============================================================================

---
- name: Restart gitea
  ansible.builtin.command:
    cmd: docker compose restart
    chdir: "{{ gitea_install_path }}"
  become: true

- name: Stop gitea
  ansible.builtin.command:
    cmd: docker compose down
    chdir: "{{ gitea_install_path }}"
  become: true

- name: Update gitea
  ansible.builtin.shell:
    cmd: docker compose pull && docker compose up -d
    chdir: "{{ gitea_install_path }}"
  become: true
